.discover {
  min-width: 1240px;
  width: 1180px;
  margin: 0 auto;
  margin-top: 46px;
  padding: 0 30px;
  font-family: 'Open Sans', sans-serif;
  min-width: 920px;
  background: white;
  display: flex;
}

.discover-main {
  border-right: 1px solid lightgray;
  padding-top: 32px;
  padding-right: 30px;
}

.discover-content {
  width: 819px;
  height: 330px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 34px;
}

.discover-content:last-of-type {
  border: 0;
  margin: 0;
}

.discover-content h1 {
  font-size: 21px;
  height: 29px;
}

.discover-content > p {
  margin-top: 3px;
  height: 19px;
  font-size: 14px;
  color: gray;
}

.discover-sidebar {
  width: 300px;
  margin-left: 30px;
  padding-top: 32px;
}

.discover-sidebar-main {
  width: 300px;
  position: fixed;
}

.sidebar-header-link {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #f2f2f2;
  color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.sidebar-header-link svg {
  margin-right: 5px;
}

.sidebar-main {
  width: 100%;
  height: 210px;
  padding-top: 5px;
  margin-bottom: 20px;
}

.follow-user {
  height: 50px;
  display: flex;
  padding: 10px 0;
  position: relative;
}

.follow-user-photo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: linear-gradient(to top right, cyan, rgb(255, 133, 200));
}

.follow-user-stats {
  display: flex;
  width: 240px;
  height: 22px;
  align-items: center;
  font-size: 11.5px;
  margin-top: 2px;
  justify-content: space-between;
}

.user-stats {
  display: flex;
}

.follow-user-stats a {
  margin-right: 15px;
  color: gray;
}

.follow-user-stats a:hover {
  color: rgb(255, 133, 200);
}

.follow-user-stats svg {
  margin-right: 5px;
}

.follow-user-info {
  font-size: 14px;
  margin: 10px 0 0 10px;
}

.follow-user-info > a {
  margin-top: 5px;
  color: #333;
}

.liked-songs {
  display: flex;
  height: 62px;
  padding: 5px 0;
}

.liked-song-photo, .liked-song-photo img {
  height: 50px;
  width: 50px;
  background: linear-gradient(to top right, cyan, rgb(255, 133, 200));
}

.liked-song-stats {
  display: flex;
}

.liked-song-info {
  margin-left: 10px;
  font-size: 14px;
}

.liked-song-artist {
  margin-bottom: 5px;
}

.liked-song-artist a {
  color: gray;
}

.liked-song-artist a:hover {
  color: #333;
}

.liked-song-title {
  margin-bottom: 9px;
}

.liked-song-title a {
  color: #333;
}

.liked-song-title a:hover {
  color: black;
}

.liked-song-stats {
  font-size: 11px;
  color: gray;
}

.liked-song-stats div {
  margin-right: 10px;
}

.liked-song-stats svg {
  margin-right: 7px;
  margin-left: 3px;
}

.liked-song-plays svg {
  font-size: 10px;
}

.liked-song-likes, .liked-song-reposts, .liked-song-comments {
  cursor: pointer;
}

.liked-song-likes:hover,
.liked-song-reposts:hover,
.liked-song-comments:hover {
  color: rgb(255, 133, 200);
}

.sidebar-footer {
  border-top: 1px solid #f2f2f2;
  padding-top: 15px;
  height: 47px;
  width: 100%;
  font-size: 12px;
  display: flex;
  color: rgb(0, 207, 207);
}

.sidebar-footer p {
  margin: 0 5px;
}

.sidebar-footer a {
  color: rgb(0, 207, 207);
}

.sidebar-footer a:hover {
  color: rgb(0, 150, 150);
}

.discover-weekly {
  width: 819px;
  height: 220px;
  margin-top: 21px;
  display: flex;
  background-image: url(cyberpunk.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.weekly-photo {
  height: 180px;
  width: 180px;
  background-image: url(pixel_skyline2.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 20px;
}

.weekly-song-list {
  margin: 20px 15px 20px 0;
  width: 593px;
  overflow: auto;
}

.weekly-song-list::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.weekly-songs {
  background: rgba(0, 0, 0, 0.7);
  width: 98.6%;
  height: 40px;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding-left: 8px;
  justify-content: space-between;
  border-bottom: 1px solid cyan;
  color: cyan;
}

.weekly-songs:hover {
  background: rgba(255, 255, 255, 0.1);
}

.weekly-songs-left {
  display: flex;
}

.weekly-songs-right {
  display: flex;
  font-size: 11px;
}

.weekly-songs-right svg {
  font-size: 9px;
  padding: 10px 9px;
}

.weekly-songs-right > p {
  line-height: 2.5;
  padding-right: 9px;
}

.weekly-artist {
  color: rgb(0, 207, 207);
  margin-right: 5px; 
}

.discover-new {
  height: 230px;
  width: 819px;
  overflow: auto;
  margin-top: 23px;
}

.discover-new ul {
  display: flex;
}

.new-song-photos {
  height: 173px;
  width: 173px;
  background: linear-gradient(to top right, cyan, rgb(255, 133, 200));
}

.song-items {
  margin-right: 20px;
}

.song-item-title {
  margin-top: 8px;
  font-size: 14px;
  color: #333;
}

.song-item-artist {
  font-size: 12px;
  color: gray;
}

.new-song-photos img {
  height: 173px;
  width: 173px;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}
