.discover {
  min-width: 1240px;
  width: 1180px;
  margin: 0 auto;
  margin-top: 46px;
  padding: 0 30px;
  font-family: 'Open Sans', sans-serif;
  min-width: 920px;
  background: white;
  display: flex;
}

.discover-main {
  border-right: 1px solid lightgray;
  padding-top: 32px;
  padding-right: 30px;
}

.discover-content {
  width: 819px;
  height: 330px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 34px;
}

.discover-content:last-of-type {
  border: 0;
  margin: 0;
}

.discover-content h1 {
  font-size: 21px;
  height: 29px;
}

.discover-content > p {
  margin-top: 3px;
  height: 19px;
  font-size: 14px;
  color: gray;
}

.discover-sidebar {
  width: 300px;
  margin-left: 30px;
  height: 500px;
  position: relative;
  padding-top: 32px;
}

.discover-sidebar-main {
  width: 300px;
  height: 400px;
  position: fixed;
  background: linear-gradient(to bottom, red, blue);
}

.discover-weekly {
  width: 819px;
  height: 220px;
  margin-top: 21px;
  display: flex;
  background-image: url(cyberpunk.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.weekly-photo {
  height: 180px;
  width: 180px;
  background-image: url(pixel_skyline2.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 20px;
}

.weekly-song-list {
  margin: 20px 15px 20px 0;
  width: 593px;
  overflow: auto;
}

.weekly-song-list::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
.weekly-song-list::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.weekly-songs {
  background: rgba(0, 0, 0, 0.7);
  width: 98.6%;
  height: 40px;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding-left: 8px;
  justify-content: space-between;
  border-bottom: 1px solid cyan;
  color: cyan;
}

.weekly-songs:hover {
  background: rgba(255, 255, 255, 0.1);
}

.weekly-songs-left {
  display: flex;
}

.weekly-songs-right {
  display: flex;
  font-size: 11px;
}

.weekly-songs-right svg {
  font-size: 9px;
  padding: 10px 9px;
}

.weekly-songs-right > p {
  line-height: 2.5;
  padding-right: 9px;
}

.weekly-artist {
  color: rgb(0, 207, 207);
  margin-right: 5px; 
}

.discover-new {
  height: 230px;
  width: 819px;
  overflow: auto;
  margin-top: 23px;
}

.discover-new ul {
  display: flex;
}

.new-song-photos {
  height: 173px;
  width: 173px;
  background: linear-gradient(to top right, cyan, rgb(255, 133, 200));
}

.song-items {
  margin-right: 20px;
}

.song-item-title {
  margin-top: 8px;
  font-size: 14px;
  color: #333;
}

.song-item-artist {
  font-size: 12px;
  color: gray;
}

.new-song-photos img {
  height: 173px;
  width: 173px;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}
