#audio {
  display: none;
}

.play-button {
  border-radius: 50%;
  border: 1px solid rgb(255, 133, 200);
  background: rgb(255, 133, 200);
  height: 100%;
  width: 100%;
  font-size: 28px;
  color: whitesmoke;
}

.play-icon {
  margin-left: 5px;
}

.play-button:focus {
  outline: none;
}

.music-player {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 48px;
  min-width: 1240px;
  border-top: 1px solid lightgray;
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  z-index: 10;
}

.music-player-main {
  width: 1217px;
  height: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.music-player-main button {
  border: 0;
  background: transparent;
  // height: 100%;
}

.music-player-main button:focus {
  outline: none;
}

.rewind-button, .player-play-button, .skip-button, .shuffle-button, .loop-button {
  margin-right: 13px;
}

.music-player-buttons {
  display: flex;
}

.song-time {
  display: flex;
  margin-top: 15px;
}

.current-time, .song-length, .player-song-data {
  font-size: 11px;
  display: flex;
  align-items: center;
}

.current-time {
  color: rgb(255, 133, 200);
  margin-left: 31px;
  margin-right: 8px;
  height: 12px;

}

.scrollbar {
  width: 512px;
  height: 1px;
  margin-top: 8px;
}

.song-length {
  margin-left: 7px;
  margin-right: 40px;
  height: 12px;
}

.volume {
  font-size: 14px;
  max-width: 22px;
  position: relative;
  height: 49px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.volume-bar {
  transform: rotate(-90deg);
  position: absolute;
  top: -85px;
  left: -65px;
  background: #f2f2f2;
  border: 1px solid lightgray;
  height: 32px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  animation-name: fade-in;
  animation-duration: 0.07s;
}

.volume-bar input {
  cursor: pointer;
}

@keyframes fade-in {
  from {
    width: 0;
    left: 10px;
  }
  to {
    width: 150px;
    left: -65px;
  }
}

.volume-bar input {
  height: 3px;
  width: 120px;
  margin: 0;
}

.player-song-data {
  margin-left: 17px;
  display: flex;
  align-items: center;
}

.player-song-image {
  height: 30px;
  width: 30px;
  background: linear-gradient(to top right, cyan, rgb(255, 133, 200));
  margin-right: 10px;
}

.player-song-image img {
  height: 30px;
  width: 30px;
}

.player-song-links {
  display: flex;
  flex-direction: column;
  height: 30px;
}

.player-song-links a:first-of-type {
  margin-bottom: 5px;
}

.player-artist {
  color: #999;
}

.player-title {
  color: #666;
}

.player-artist:hover, .player-title:hover {
  color: #333;
}
