.navbar {
  // overflow: hidden;
  position: fixed;
  top: 0;
  background-color: #333;
  height: 46px;
  width: 100%;
  min-width: 1250px;
  line-height: 3.3;
  font-size: 13.7px;
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

.navbar-logo {
  background-image: url(logo2.png);
  background-size: 100% 100%;
  width: 70px;
  height: 100%;
}

.navbar > button {
  outline: none;
  border: none;
  background: transparent;
  color: rgb(0, 207, 207);
}

.navbar button:hover {
  color: rgb(0, 255, 255);
}

.navbar a {
  color: rgb(0, 207, 207);
}

.navbar a:hover {
  color: rgb(0, 255, 255);
}

.focused {
  color: rgb(0, 255, 255);
  background: black;
}

.navbar-left-link {
  width: 103px;
  text-align: center;
  border-right: 1px solid black;
}

.navbar-search {
  width: 430px;
  padding: 0 10px;
  display: flex;
  position: relative;
  align-items: center;
}

.navbar-search-input {
  height: 26px;
  width: 430px;
  background: lightgray;
  outline: none;
  border: none;
  border-radius: 4px;
  padding-left: 8px;
  font-size: 14px;
  transition: background 0.5s;
}

.navbar-search-button {
  width: 15px;
  outline: 0;
  border: 0;
  background: transparent;
  height: 15px;
  border-radius: 0 5px 5px 0;
  position: absolute;
  overflow: visible;
  cursor: pointer;
  top: 14px;
  right: 25px;
}

.upgrade {
  color: rgb(255, 182, 222);
}

.upgrade:hover {
  color: rgb(255, 133, 200);
}

.navbar-search-button i {
  font-size: 15px;
}

.navbar-search-input:focus {
  background: white;
}

.navbar-search-input:not(:focus) {
  background: lightgray;
}

.navbar-right-link {
  width: 65px;
  text-align: center;
}

.navbar-user {
  width: 140px;
  position: relative;
  text-align: center;
}

.navbar-user:focus {
  outline: none;
  background: black;
}

.navbar-user i {
  font-size: 12px;
  margin-left: 8px;
  position: absolute;
  top: 17px;
}

.navbar-icon-button {
  width: 46px;
  padding: 0;
  cursor: pointer;
  position: relative;
}

.navbar-icon-button i {
  font-size: 16px;
}

.user-dropdown {
  position: relative;
}

.user-dropdown i {
  
}

.user-dropdown a {
  position: absolute;
  top: 46px;
  background: black;
  right: 50px;
  z-index: 10;
  font-size: 12px;
  font-weight: 900;
  display: flex;
  align-items: center;
  height: 30px;
}

.user-dropdown a:hover {
  background: #333;
}

.option-dropdown {
  position: relative;
}

.option-dropdown button {
  position: absolute;
  top: 46px;
  width: 100px;
}
