.upload-page {
  min-width: 1240px;
  width: 1240px;
  min-height: 952px;
  margin: 0 auto;
  margin-top: 46px;
  font-family: 'Open Sans', sans-serif;
  min-width: 920px;
  background: white;
}

#file {
  opacity: 0;
  position: absolute;
  background: red;
  height: 40px;
  width: 300px;
  top: -1px;
  left: -1px;
  cursor: pointer;
}

button input[type=file], 
button input[type=file]::-webkit-file-upload-button {
  cursor: pointer; 
}

.upload-form button {
  height: 100px;
  width: 200px;
}

.upload-file-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 48px;
  border-bottom: 1px solid lightgray;
  font-size: 14px;
}

.upload-file-header p {
  height: 48px;
  line-height: 3.5;
  color: rgb(255, 133, 200);
  border-bottom: 1px solid rgb(255, 133, 200);
  margin-right: 22px;
}

.upload-file-header a {
  height: 48px;
  line-height: 3.5;
}

.upload-file-header svg {
  font-size: 9px;
  margin-right: 8px;
}

.upload-file-header a:hover {
  border-bottom: 1px solid black;
}

.upload-header-left {
  display: flex;
  justify-content: space-between;
}

.upload-header-left a {
  margin-right: 22px;
}

.upload-main {
  margin: 197px auto;
  width: 800px;
  text-align: center;
  border: 1px solid lightgray;
  height: 387px;
  border-radius: 3px;
  box-shadow: 0 2px 12px -5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.upload-main-content {
  margin-top: 103px;
}

.drag-file {
  height: 389px;
  width: 802px;
  position: absolute;
  top: -1px;
  left: -1px;
  opacity: 0;
  z-index: 1;
}

.upload-main-content h2 {
  font-size: 21px;
}

.upload-main-content button {
  width: 300px;
  padding: 10px 15px;
  border: 0;
  background: rgb(255, 133, 200);
  color: white;
  font-size: 16px;
  margin-top: 20px;
  border: 1px solid rgb(255, 133, 200);
  border-radius: 3px;
  z-index: 2;
  position: relative;
  cursor: pointer;
}

.upload-main-content button:focus {
  outline: none;
}

.upload-details-main {
  margin: 120px auto;
  width: 748px;
  border: 1px solid lightgray;
  height: 430px;
  border-radius: 3px;
  box-shadow: 0 2px 12px -5px rgba(0, 0, 0, 0.1);
  padding: 20px 25px 20px 25px;
}

.upload-details-header {
  display: flex;
  font-size: 23px;
  height: 39px;
  line-height: 1.6;
  border-bottom: 1px solid lightgray;
}

.upload-details-header p {
  color: rgb(255, 133, 200);
  border-bottom: 1px solid rgb(255, 133, 200);
  cursor: default;
  height: 39px;
}

.upload-details-header a {
  margin-left: 28px;
  height: 39px;
}

.upload-details-header a:hover {
  border-bottom: 1px solid black;
}

.details-form {
  display: flex;
  margin-top: 23px;
}

.song-photo {
  height: 260px;
  width: 260px;
  background: linear-gradient(to top right, cyan, rgb(255, 133, 200));
}

.song-details {
  margin-left: 18px;
  font-size: 11px;
}

.song-details p {
  margin: 5px 0 9px 0;
}

.song-details input {
  box-sizing: border-box;
  height: 26px;
  width: 470px;
  padding: 2px 7px;
  font-size: 14px;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin-bottom: 16px;
  color: rgb(70, 70, 70);
}

.song-details input:focus {
  outline: none;
  border: 1px solid gray;
}

.song-details select {
  padding: 0 25px 0 6px;
  height: 26px;
  width: 230px;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 16px;
  color: rgb(70, 70, 70);
  border-radius: 3px;
}

.song-details option:hover {
  outline: none;
  background: white;
}

.song-details textarea {
  box-sizing: border-box;
  width: 470px;
  height: 130px;
  padding: 2px 7px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin-bottom: 16px;
}

.song-details textarea:focus {
  outline: none;
}

.required {
  color: red;
}

.upload-details-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px 0 0 0;
  border-top: 1px solid lightgray;
}

.upload-details-footer p {
  font-size: 11px;
}

.upload-details-footer p span {
  margin-right: 5px;
}

.upload-details-footer a {
  font-size: 14px;
}

.upload-details-buttons a:first-of-type {
  padding: 3px 10px;
  color: rgb(70, 70, 70);
}

.save-button {
  background: rgb(255, 133, 200);
  color: white;
  padding: 2px 10px;
  border: 1px solid rgb(255, 133, 200);
  border-radius: 4px;
}

.upload-success {
  display: flex;
  width: 748px;
  padding: 25px;
  border: 1px solid lightgray;
  border-radius: 2px;
  box-shadow: 0 2px 12px -5px rgba(0, 0, 0, 0.1);
  margin: 145px auto;
  font-size: 14px;
}

.success-song-photo {
  width: 120px;
  height: 120px;
  background: linear-gradient(to top right, cyan, rgb(255, 133, 200));
}

.success-song-details {
  margin-left: 15px;
  margin-top: 2px;
  color: rgb(160, 160, 160);
}

.success-song-details h3 {
  font-size: 16px;
  margin-top: 4px;
  color: black;
}

.success-song-desc {
  margin-top: 18px;
  font-size: 13px;
}

.success-song-complete {
  margin-top: 5px;
  color: rgb(46, 46, 46);
  font-size: 13.5px;
}

.success-song-link {
  line-height: 2;
  color: rgb(255, 133, 200);
  font-weight: 700;
}

.success-song-link:hover {
  color: black;
}
